<div class="row">
    <div class="col-md-5">
        <app-recipe-list (recipeWasSelected)="selectedRecipe=$event"></app-recipe-list>
    </div>
    <div class="col-md-7">
        <app-recipe-detail *ngIf="selectedRecipe ; else infoText" [recipe]="selectedRecipe"></app-recipe-detail>
        <ng-template #infoText>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif ;text-align: center; color: rgb(248, 93, 93);">Please select a recipe !</p>
        </ng-template>
    </div>
</div>