<label for="">Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<!-- <p>Server Name is {{serverName}}</p> -->
<br>
<button class="btn btn-primary" (click)="onCreateServer()" [disabled]="allowedNewServer">Add Server</button>
<!-- <p> {{serverCreationStatus}} </p> -->
    
<!-- <button (click)="onRemoveServer()"> Click to remove Server </button> -->
<p *ngIf="serverCreated">Server was created, serverName is {{ serverName }}</p>
<!-- <ng-template #noServer >
    <p> No server was created </p>
</ng-template> -->


<!-- Adding array of servers which adds dynamically  -->
<app-server *ngFor="let server of servers"></app-server>

